repos:
-   repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.9.0
    hooks:
    - id: black
      language_version: python3.9
-   repo: https://github.com/pycqa/isort/
    rev: 6.1.0
    hooks:
    - id: isort
      language_version: python3.9
